{% if mode == 'cli' %}
    <style type="text/css">
        body {
            margin : 0px;
        }
    </style>
{% endif%}
{# A4 (Mm = 210x297) : (Px : 596x842 en 72dpi) #}

{% set tmpratio = 596/210 %}
{% set ratio = tmpratio %}

<div id="container" data-info='{"ratio":{{ ratio }}}'>
    {% for elt in inputData %}
        {% set token = elt %}
        {% if token.type == 'img' %}
            <div class="elt" id="{{ token.id }}" style="
                 z-index:{{ token.z }};
                 position: absolute;
                 left: {{(token.x)*ratio}}px;
                 top:  {{(token.y)*ratio}}px;
                 width:       {{token.w*ratio}}px;
                 height:      {{token.h*ratio}}px;
                 line-height:      {{token.h*ratio}}px;
                 text-align: center;
                 {% if token.angle is defined%}
                     -webkit-transform: rotate({{((token.angle))}}deg);
                     -moz-transform: rotate({{((token.angle))}}deg);
                     transform: rotate({{((token.angle))}}deg);
                 {%endif%}
                 " data-info='{{token|json_encode()}}' >
                <img  src="{{token.src|default('')}}"  style="
                      height: {{((token.h))*ratio}}px;
                      width: {{((token.w))*ratio}}px;
                      bottom: 0;
                      right: 0;
                      margin: auto;
                      "/>
            </div>
        {% endif %}
        {% if token.type == 'txt' %}
            <div class="elt" id="{{ token.id }}" {% if isEditable %}contenteditable=""{% endif %} style="
                 z-index:{{ token.z }};
                 left: {{(token.x)*ratio}}px;
                 top:  {{(token.y)*ratio}}px;
                 width:      {{token.w*ratio}}px;
                 height:     {{token.h*ratio}}px;
                 position:   absolute;
                 text-align: {{token.align}};
                 color:      {{token.color}};
                 font-family: {{ token.font|default('arial.ttf')|replace({'.ttf': '', '.TTF': ''}) }};
                 font-size: {{token.size*ratio}}px;
                 {% if token.angle is defined%}
                     -webkit-transform: rotate({{((token.angle))}}deg);
                     -moz-transform: rotate({{((token.angle))}}deg);
                     transform: rotate({{((token.angle))}}deg);
                 {%endif%}
                 <!-- line-height:     {{token.size*ratio}}px; -->
                 "  data-info='{{token|json_encode()}}'>
                {{token.txt|nl2br}}
            </div>
        {% endif %}
    {% endfor %}
</div>
