<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Poc</title>
        <style type="text/css">
            div#ticket div { position: absolute;}
            [name="event_title"] { top:15px;left:15px;width:180px; height:50px; }
            [name="event_date"] { top:75px;left:15px;width:180px; height:10px; }
            [name="name"] { top:114px;left:15px; }
            [name="desc"] { top:143px;left:120px;width:75px;height:39.295px; }
            [name="tarif_details"] { top:121px;left:15px; }
            [name="address"] { top:141px;left:15px; }
            [name="tarif_license"] { top:161px;left:15px; }

        </style>
    </head>
    <body>
        <div id='ticket'>
            {% block header %}
                {% if visuel_image %}
                    <div type="image" name="header" crop="none" posx="0" posy="0" width="210" height="100"><![CDATA[{{visuel_image}}]]></div>
                {% else %}
                    <div name="event_title" class="event_title" type="text" posx="15" posy="15" width="180" height="50">{{ev_nom|upper}}</div>
                    <div name="event_date" class="event_date" type="text" posx="15" posy="75,372" width="180" height="10">{{ev_dates}}</div>
                {% endif %}
            {% endblock %}

            {% block name %}
                <div name="name" class="name" type="text" posx="15" posy="114" width="80" height="6.298">{{ cmd_client|upper }}</div>
            {% endblock %}

            {% block tarif_details %}
                <div name="tarif_details" class="tarif_details" type="text" posx="15" posy="121.151" width="80" height="10.998">
                    <p name="tarif_name"><character name="tarif_name" class="tarif_name">{{billet_nom}} - {{billet_prix}}</character> (dont {{ev_tva[2]}} à {{ev_tva[0]}}% : {{ev_tva[1]}})</p>
                        {% if billet_categorie['libelle_parent'] %}
                        <p name="category">{{billet_categorie['libelle_parent']}}</p>
                    {% endif %}
                    {% if billet_categorie['libelle'] %}
                        <p name="scategory">{{billet_categorie['libelle']}}</p>
                    {% endif %}
                </div>
            {% endblock %}

            {% block sceance_placement %}
                {# For later use, placement and sceance only
                <div name="details" class="details" type="text" posx="15" posy="136.208" width="80" height="8.588">
                        <p name="date">Séance du {{ev_dates}}</p>
                        <p name="placement">Tribune 3 - Rang 13 - Place 28</p>
                </div>
                #}
            {% endblock %}

            {% block address %}
                <div name="address" class="address" type="text" posx="15" posy="149.273" width="80" height="6.866">
                    {% if lieu_nom %}
                        <p name="street" class="street">{{lieu_nom}}</p>
                    {% endif %}
                    {% if lieu_adresse %}
                        <p name="street" class="street">{{lieu_adresse}}</p>
                    {% endif %}
                    {% if lieu_ville %}
                        <p name="city" class="city">{{lieu_ville}}</p>
                    {% endif %}
                </div>
            {% endblock %}

            {% block ticket_details %}
                <div name="tarif_license" class="tarif_license" type="text" posx="15" posy="161.52" width="80" height="13.792">
                    <p name="emission">Date d'émission : {{cmd_date}}</p>
                    <p name="orga">Organisateur : {{ev_orga}}</p>
                    {% if orga_license %}
                        <p name="license">Licenses {{orga_license}}</p>
                    {% endif %}
                    <p name="ticket">Billet N° : {{billet_num}}</p>
                    <p name="order">Commande N° : {{cmd_num}}</p>
                </div>
            {% endblock %}

            {% block message %}
                <div name="desc" type="text" posx="120.086" posy="143.933" width="75" height="39.295">Ferret, caeli reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valereges arma moturus, quorum crebris excursibus vastabantur confines limitibus terrae Gallorum. Quod cum ita sit, paucae domus studiorum seriis cultibus vocali sonu. Caeli reserato tepore Constantius consulatu suo septies et crebris excursibus vastabantur confinonues limitibus terrae Gallorum. Constantius consulatu suo septies et Caesaris ter egressus denique pro philosopho cantor et in locum oratoris doctor. Quod cum ita sit, paucae domus studiorum seriis cultibus vocali sonu excursibus vastabantur confines limitibus terra.</div>
            {% endblock %}

            {% block qrcode %}
                <div name="code" type="qrcode" posx="142.587" posy="110.421" width="30" height="30">{{barcode_id}}</div>
            {% endblock %}

            <!-- legacy rights -->
            {% block legacy %}
                <div type="text" name="legacy" class="legacy" posx="15" posy="213" width="180" height="49.414">{{cgu}}</div>
            {% endblock %}

            <!-- separators -->
            {% block presentation %}
                {% if not visuel_image %}
                    <div type="line" name="hrule_header" posx="15" posy="99" width="180" height="0.2"></div>
                {% endif %}
                <div type="line" name="vrule_content" posx="105" posy="114" width="0.2" height="69"></div>
                <div type="line" name="hrule_legacy" posx="15" posy="198" width="180" height="0.2"></div>
            {% endblock %}
        </div>
    </body>
</html>