{# empty Twig template #}
{% block header %}
    {% if visuel_image %}
        <p type="image" name="header" crop="none" posx="0" posy="0" width="210" height="100"><![CDATA[{{visuel_image}}]]></p>
    {% else %}
        <p name="event_title" class="event_title" type="text" posx="15" posy="15" width="180" height="50">{{ev_nom|upper}}</p>
        <p name="event_date" class="event_date" type="text" posx="15" posy="75,372" width="180" height="10">{{ev_dates}}</p>
    {% endif %}
{% endblock %}

{% block name %}
    <p name="name" class="name" type="text" posx="15" posy="114" width="80" height="6.298">{{ cmd_client|upper }}</p>
{% endblock %}

{% block tarif_details %}
    <p name="tarif_details" class="tarif_details" type="text" posx="15" posy="121.151" width="80" height="10.998">
    <paragraph name="tarif_name"><character name="tarif_name" class="tarif_name">{{billet_nom}} - {{billet_prix}}</character> (dont {{ev_tva[2]}} à {{ev_tva[0]}}% : {{ev_tva[1]}})</paragraph>
            {% if billet_categorie['libelle_parent'] %}
        <paragraph name="category">{{billet_categorie['libelle_parent']}}</paragraph>
        {% endif %}
        {% if billet_categorie['libelle'] %}
        <paragraph name="scategory">{{billet_categorie['libelle']}}</paragraph>
        {% endif %}
</p>
{% endblock %}

{% block sceance_placement %}
    {# For later use, placement and sceance only
    <p name="details" class="details" type="text" posx="15" posy="136.208" width="80" height="8.588">
            <paragraph name="date">Séance du {{ev_dates}}</paragraph>
            <paragraph name="placement">Tribune 3 - Rang 13 - Place 28</paragraph>
    </p>
    #}
{% endblock %}

{% block address %}
    <p name="address" class="address" type="text" posx="15" posy="149.273" width="80" height="6.866">
        {% if lieu_nom %}
        <paragraph name="street" class="street">{{lieu_nom}}</paragraph>
        {% endif %}
        {% if lieu_adresse %}
        <paragraph name="street" class="street">{{lieu_adresse}}</paragraph>
        {% endif %}
        {% if lieu_ville %}
        <paragraph name="city" class="city">{{lieu_ville}}</paragraph>
        {% endif %}
</p>
{% endblock %}

{% block ticket_details %}
    <p name="tarif_license" class="tarif_license" type="text" posx="15" posy="161.52" width="80" height="13.792">
    <paragraph name="emission">Date d'émission : {{cmd_date}}</paragraph>
    <paragraph name="orga">Organisateur : {{ev_orga}}</paragraph>
        {% if orga_license %}
        <paragraph name="license">Licenses {{orga_license}}</paragraph>
        {% endif %}
    <paragraph name="ticket">Billet N° : {{billet_num}}</paragraph>
    <paragraph name="order">Commande N° : {{cmd_num}}</paragraph>
</p>
{% endblock %}

{% block message %}
    <p name="desc" type="text" posx="120.086" posy="143.933" width="75" height="39.295">Ferret, caeli reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valereges arma moturus, quorum crebris excursibus vastabantur confines limitibus terrae Gallorum. Quod cum ita sit, paucae domus studiorum seriis cultibus vocali sonu. Caeli reserato tepore Constantius consulatu suo septies et crebris excursibus vastabantur confinonues limitibus terrae Gallorum. Constantius consulatu suo septies et Caesaris ter egressus denique pro philosopho cantor et in locum oratoris doctor. Quod cum ita sit, paucae domus studiorum seriis cultibus vocali sonu excursibus vastabantur confines limitibus terra.</p>
{% endblock %}

{% block qrcode %}
    <p name="code" type="qrcode" posx="142.587" posy="110.421" width="30" height="30">{{barcode_id}}</p>
{% endblock %}

<!-- legacy rights -->
{% block legacy %}
    <p type="text" name="legacy" class="legacy" posx="15" posy="213" width="180" height="49.414">{{cgu}}</p>
{% endblock %}

<!-- separators -->
{% block presentation %}
    {% if not visuel_image %}
        <p type="line" name="hrule_header" posx="15" posy="99" width="180" height="0.2"></p>
    {% endif %}
    <p type="line" name="vrule_content" posx="105" posy="114" width="0.2" height="69"></p>
    <p type="line" name="hrule_legacy" posx="15" posy="198" width="180" height="0.2"></p>
{% endblock %}